{erl_opts, [debug_info, {parse_transform, lager_transform}]}

.
{deps,
 [{amqp_client, "4.0.3"},
  {epgsql, "4.8.0"},
  {jsx, "3.1.0"},
  {lager, "3.9.0"},
  {pooler, "1.6.0"}]}

.
{relx,
 [{release, {time_tracking, "0.1.0"}, [time_tracking]},
  {sys_config, "./config/sys.config"},
  {vm_args, "./config/vm.args"}]}

.
