[{time_tracking,
  [{rabbitmq,
    [{host, "rabbitmq"},
     {port, 5672},
     {user, "guest"},
     {password, "guest"},
     {queue, "time_tracking_queue"}]},
   {postgresql,
    [{host, "postgres"},
     {port, 5432},
     {database, "time_tracking"},
     {user, "postgres"},
     {password, "postgres"}]},
   {business_logic,
    [{default_schedule,
      [{start_time, "09:00"},
       {end_time, "18:00"},
       {days, [1, 2, 3, 4, 5]},
       {delay_minutes, 15}]}]},
   {lager,
    [{log_level, info},
     {handlers, [lager_console_backend, lager_file_backend]},
     {file, "log/time_tracking.log"},
     {rotate_size, 10485760}, % 10 MB
     {rotate_count, 5}]}]},
 {pooler,
  [{pools,
    [#{name => pg_pool,
       max_count => 10, % Maximum number of connections
       init_count => 5, % Initial number of connections
       start_mfa =>
         {epgsql,
          connect,
          [#{host => "localhost",
             port => 5432,
             database => "time_tracking",
             username => "postgres",
             password => "postgres"}]}}]}]}]
.